#root {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: linear-gradient(to bottom right, darkgray, lightblue, white);
}
.App {
  width: 75%;
}
.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#userCard {
  background: linear-gradient(0deg, lightblue, white);
  margin-top: 1rem;
  padding: 1rem;
}
.card-img-top {
  width: 40%;
  border-radius: 30px;
  margin: auto;
}
.userInfoKeys {
  font-weight: 900;
}
.errorMsg {
  color: red;
  font-weight: 700;
}